* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}

img,
embed,
object,
video {
	max-width: 100%;
}

nav a,
button {
	min-width: 48px;
	min-height: 48px;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    width: 100%;
}

#SideMenu {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

.nytimes-container {
    width: 100%;
}

.close-button {
    float: right;
}

#nytimes-header {
    width: 100%;
}

.info-window {
    color: black;
    font-weight: bold;

}

#map {
    bottom:0px;
    top: 8%;
    height: 92%;
    left: 0px;
    position: absolute;
    right: 0px;
}
