* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}

img,
embed,
object,
video {
	max-width: 100%;
}

nav a,
button {
	min-width: 48px;
	min-height: 48px;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    width: 100%;
}

#side-menu {
    height: 0;
    width: 25%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

#filter-menu-button {
    color: black;
    background-color: gray;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}

#close-menu-button {
    font-size:30px;
    cursor:pointer;
    padding-left: 10px;
}

.nytimes-container {
    width: 100%;
}


#nytimes-header {
    width: 100%;
}

.info-window {
    color: black;
    font-weight: bold;

}

#map {
    bottom:0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
}
